div {
    display: inline-block;
    height: 100px;
    width: 100px;
    color: darkgrey;
    font-size: 20px;
    border-radius: 5px;
}

#name {
    background-color: darkolivegreen;
}

#red {
    background-color:red;
}

#blue {
    background-color:blue;
}

#green {
    background-color:green;
    opacity: 0.5;
}

#black {
    background-color:black;
}

#cyan {
    background-color:cyan;
}

#magenta {
    background-color:magenta;
}

#pink {
    background-color: deeppink;
}


